.instructor_banner_pick {
  background-color: hsla(170, 62%, 42%, 0.384);
  display: block;
  box-sizing: inherit;
}
.header-bncontainer {
  position: relative;
  margin: auto;
  padding: 31px 2rem 38px;
  max-width: 1200px;
  flex-grow: 1;
  width: auto;
  box-sizing: inherit;
  display: block;
  height: 280px;
}
.bannername {
  font-family: "Poor Story", cursive;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  color: #d56773;
  letter-spacing: 3px;
  margin: 0;
  margin-block-start: 0.7em;
  margin-block-end: 2.2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.pick-banner-cover p {
  font-size: 13px;
  font-weight: 400;
  font-family: "Poor Story", cursive;
  line-height: 1;
  letter-spacing: 1.2px;
  color: #1b1c1d;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0.2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.pick-banner-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url(../../images/banner/pick_banner.png);
  background-position: calc(100% + 80px) 30%;
  background-repeat: no-repeat;
  box-sizing: inherit;
  display: block;
}
.joinme-content {
  font-family: "Poor Story", cursive;
  color: #1b1c1d;
}

.joinme-subtitle {
  position: relative;
  display: flex;
  box-sizing: inherit;
}
.joinme-subtitle2,
.joinme-subtitle3 {
  padding-right: 44px;
  position: relative;
  display: flex;
  box-sizing: inherit;
}
.joinme-sublabel {
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.3px;
  font-size: 14px;
  color: #abb0b5;
  flex-shrink: 0;
  margin-right: 10px;
  box-sizing: inherit;
  display: block;
}
.joinme-subdata {
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.3px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: left;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #858a8d;
  margin-inline-start: 33px;
  box-sizing: inherit;
}
.card_profileimg {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border: 1px solid #e9ebee;
  border-radius: 50px;
  display: block;
}
.card_profileimg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 100%;
  display: block;
  box-sizing: inherit;
}
.card_username {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 28px;
  box-sizing: inherit;
}
.card_username span {
  font-weight: 400;
  letter-spacing: -0.3px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.5;
  text-align: left;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #abb0b5;
  text-decoration: underline;
  cursor: pointer;
  box-sizing: inherit;
}
.card_username span:hover {
  transform: translateY(-1.5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
.like-btn {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-left: 4px;
  padding: 4px 8px;
  max-width: 78px;
  color: #f9390f;
  text-align: center;
  border: 0;
  border-radius: 4px;
  background-color: rgba(255, 210, 77, 0.2);
  cursor: pointer;
}
.like-btn:hover {
  background-color: rgba(255, 211, 77, 0.5);
}
.like-btn span {
  line-height: 1.43;
  letter-spacing: -0.3px;
  font-size: 14px;
  font-weight: 500;
  font-style: inherit;
  text-align: center;
}

/* =================================================================
  JoinMe 상세보기
*/
.jd-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: inherit;
}

/*  인원 수 */
joinme-charge {
  display: block;
  position: relative;
  flex-shrink: 0;
  padding-top: 13px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.47;
  letter-spacing: -0.3px;
  box-sizing: inherit;
}
.joinme-charge::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -30px;
  width: 100%;
  height: 40px;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.9) 53.76%,
    #fff
  );
  box-sizing: inherit;
}
.joinme-charge p {
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: 16px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 500;
  color: #495057;
}

/* 좋아요*/
.jd-likebtn {
  text-align: right;
  margin-right: 30px;
  margin-top: -38px;
  height: 30px;
}

/* */
.joinme-nbspspace {
  padding-bottom: 45px !important;
  margin-bottom: 1rem;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  line-height: 1.6;
  display: block;
  box-sizing: inherit;
}

/* 유저정보 */
.joinme-userinfo {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.joinme-userinfo img {
  overflow: hidden;
  width: 60px;
  height: 60px;
  border: 1px solid #e9ebee;
  border-radius: 60px;
  -o-object-fit: contain;
  object-fit: contain;
  max-width: 100%;
  display: block;
  cursor: pointer;
}
.joinme-userinfo span {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.3px;
  color: #495057;
  cursor: pointer;
  margin-left: 12px;
  font-style: inherit;
}

/* 게시글 상단 정보 */
.joinme-dtitle {
  line-height: 1.47;
  letter-spacing: -0.3px;
  font-size: 15px;
  font-weight: 500;
  color: #1b1c1d;
  margin-bottom: 8px;
  display: block;
  box-sizing: inherit;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.joinme-ereion {
  line-height: 1.43;
  letter-spacing: -0.3px;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 8px;
  padding: 4px px 8px;
  text-align: center;
  color: #00c471;
  background: #e5f9f1;
  box-sizing: inherit;
}
.joinme-content {
  width: 150px;
  font-weight: 250;
  font-size: 14px;
}

/* form ========================================================

.select-charge {
  display: flex;
  font-family: sans-serif;
  text-align: center;
}
.select-charge select {
  width: 8rem;
  height: 2rem;
  margin: 10px;
  padding: 0.8em 0.5em;
  border: 1px solid#34495e;
  font-family: inherit;
  color: #34495e;
  font-weight: bold;
  border-radius: 10px;
}
.select-charge > h3 {
  color: #34495e;
} */
