<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"></setting>
        <!-- 쿼리 결과 null 리턴됐을 때 처리방식 지정 -->
        <!-- 결과 null일 때 모든 컬럼의 값을 null로 설정 -->
        <!-- <setting name="callSettersOnNulls" value="true"></setting>-->
        <!-- 쿼리 파라미터가 null일 때 Null처리 방식 지정 -->
        <!-- <setting name="jdbcTypeForNull" value="NULL"></setting>-->
    </settings>

    <typeAliases>
        <typeAlias type="com.bitcamp.travelkkaebi.model.JoinMeDTO" alias="JoinMeDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.model.JoinMeApplyDTO" alias="JoinMeApplyDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.model.ImageDTO" alias="ImageDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.model.TravelMapDTO" alias="TravelMapDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.model.LikeOrDislikeDTO" alias="LikeOrDislikeDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.model.ReviewDTO" alias="ReviewDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.model.ReviewReplyDTO" alias="ReviewReplyDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.model.EditorChoiceDTO" alias="EditorChoiceDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.model.MannerDegreeDTO" alias="MannerDegreeDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.model.ImageAndCommentDTO" alias="ImageAndCommentDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.model.MyTravelDTO" alias="MyTravelDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.model.MyTravelUserDTO" alias="MyTravelUserDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.model.MyTravelReplyDTO" alias="MyTravelReplyDTO"/>

        <typeAlias type="com.bitcamp.travelkkaebi.dto.TempDTO" alias="TempDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.dto.UpdateMemberCountDTO" alias="UpdateMemberCountDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.dto.MyTravelReplyResponseDTO" alias="MyTravelReplyResponseDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.dto.MyTravelResponseDTO" alias="MyTravelResponseDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.dto.ListResponseDTO" alias="ListResponseDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.dto.PrimaryIdAndUserIdDTO" alias="PrimaryIdAndUserIdDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.dto.parameter.MyTravelIdAndUserIdDTO" alias="MyTravelIdAndUserIdDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.dto.CategoryIdAndBoardCountDTO" alias="CategoryIdAndBoardCountDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.dto.PageAndWordDTO" alias="PageAndWordDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.dto.PageAndUserIdDTO" alias="PageAndUserIdDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.dto.JoinMeListDTO" alias="JoinMeListDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.dto.JoinMeOneDTO" alias="JoinMeOneDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.dto.JoinMeIdAndClosedDTO" alias="JoinMeIdAndClosedDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.dto.JoinMeApplyResponseDTO" alias="JoinMeApplyResponseDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.dto.LikeOrDislikeResponseDTO" alias="LikeOrDislikeResponseDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.dto.ReviewResponseDTO" alias="ReviewResponseDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.dto.ReviewReplyResponseDTO" alias="ReviewReplyResponseDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.dto.EditorChoiceResponseDTO" alias="EditorChoiceResponseDTO"/>
        <typeAlias type="com.bitcamp.travelkkaebi.dto.MannerDegreeResponseDTO" alias="MannerDegreeResponseDTO"/>
    </typeAliases>
</configuration>