.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 10px;
}

.Carousel {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}
.mypage-card {
  border: 1px solid #fff;
  background: black;
  border-radius: 8px;
  overflow: hidden;

  height: 350px;
  color: #fff;
}
