.voc-view-wrapper {
  width: 60%;
  margin: 0 auto;
}

.voc-view-go-list-btn {
  border: 0;
  padding: 10px;
  background-color: #ffd9d9;
}

.voc-view-row {
  margin: 10px 0;
  display: flex;
}

.voc-view-row>label:first-child {
  margin: 10px 0;
  width: 30%;
  font-weight: bold;
}

.voc-view-row>*:nth-child(2) {
  margin: 10px 0;
  width: 70%;
}

.voc-view-reply>label:first-child {
  margin: 10px 0;
  width: 30%;
  font-weight: bold;
}

.voc-view-reply>*:nth-child(2) {
  margin: 10px 0;
  width: 15%;
}
.voc-view-reply>*:nth-child(3) {
  margin: 10px 0;
  width: 45%;
}
.voc-view-reply>*:nth-child(4) {
  margin: 10px 0;
  width: 10%;
}