<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.travelkkaebi.mapper.JoinMeMapper">

    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM board_join_me
    </select>

    <select id="selectOne" parameterType="int" resultType="JoinMeDTO">
        SELECT * FROM board_join_me WHERE join_me_id=#{joinMeId}
    </select>

    <select id="selectAllByPage" parameterType="hashMap" resultType="JoinMeDTO">
        SELECT * FROM board_join_me ORDER BY join_me_id DESC LIMIT #{startNum}, #{pageSize}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="joinMeId" parameterType="JoinMeDTO">
        INSERT INTO board_join_me (category_id, user_id, title, content, region, charge, capacity)
        VALUES (#{categoryId}, #{userId}, #{title}, #{content}, #{region}, #{charge}, #{capacity})
    </insert>

    <update id="update" useGeneratedKeys="true" keyProperty="joinMeId" parameterType="JoinMeDTO">
        UPDATE board_join_me SET title=#{title}, content=#{content}, start_date=#{startDate},
        end_date=#{endDate}, region=#{region}, charge=#{charge}, capacity=#{capacity}
        WHERE join_me_id=#{joinMeId}
    </update>

    <update id="updateSelectOne" useGeneratedKeys="true" keyProperty="joinMeId" parameterType="JoinMeDTO">
        UPDATE board_join_me SET view=view+1, like_count=#{likeCount}
        WHERE join_me_id=#{joinMeId}
    </update>

    <update id="updateClosed" useGeneratedKeys="true" keyProperty="joinMeId" parameterType="int">
        UPDATE board_join_me SET closed=1
        WHERE join_me_id = #{joinMeId}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM board_join_me WHERE join_me_id=#{joinMeId}
    </delete>
</mapper>