<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.LikeOrDislikeMapper">

    <select id="selectOne" parameterType="LikeOrDislikeDTO" resultMap="LikeOrDislikeResult">
        SELECT * FROM like_or_dislike WHERE category_id=#{categoryId} AND board_id=#{boardId} AND user_id=#{userId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="likeOrDislikeId" parameterType="LikeOrDislikeDTO">
        INSERT INTO like_or_dislike (category_id, board_id, user_id)
            VALUES (#{categoryId}, #{boardId}, #{userId})
    </insert>

    <update id="update" useGeneratedKeys="true" keyProperty="likeOrDislikeId" parameterType="LikeOrDislikeDTO">
        UPDATE like_or_dislike SET liked=#{liked}, disliked=#{disliked} WHERE like_or_dislike_id=#{likeOrDislikeId}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM like_or_dislike WHERE like_or_dislike_id = #{likeOrDislikeId}
    </delete>

    <resultMap id="LikeOrDislikeResult" type="LikeOrDislikeDTO">
        <result column="like_or_dislike_id" property="likeOrDislikeId"/>
        <result column="category_id" property="categoryId"/>
        <result column="board_id" property="boardId"/>
        <result column="user_id" property="userId"/>
        <result column="liked" property="liked"/>
        <result column="disliked" property="disliked"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

</mapper>