<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.travelkkaebi.mapper.MyTravelUserMapper">
    <insert id="insert" parameterType="MyTravelUserDTO">
        INSERT INTO my_travel_user (my_travel_id, user_id)
        VALUES (#{myTravelId}, #{userId})
    </insert>
</mapper>