.loginform label {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 18px;
  color: #999;
  transition: all 0.5s ease;
}

.InputField:focus + label,
.InputField:valid + label {
  top: 0;
  font-size: 13px;
  color: #03d85e;
}

.Formbtn:focus {
  outline: 0;
}
.Formbtn:active {
  transform: scale(0.99);
}

.sns_log {
  margin: auto;
}
.sns_log button {
  border: none;
  background-color: white;
}
.sns_log img {
  margin: auto;
}
.sns_log button :hover {
  cursor: pointer;
}
.sns_log button :active {
  transform: scale(0.99);
}

.loginform a {
  font-size: 15px;
  color: #999;
  text-decoration: none;
  text-align: center;
}
